body {
    margin: 0;
    padding: 0;
}

.topbar-color {
    background-color: #316dc3;
}

.s, .p, .b {
    /* border: 2px solid red; */
    text-align: center;
}

.me ul {
    padding-right: 40px;
}

.s .fab {
    margin-right: 15px;
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-top: 15px;
}

.paregraph p {
    padding-top: 15px;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.b {
    font-size: 10px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.b a {
    font-size: 15px;
    padding: 4px 4px 4px 4px;
    font-size: 12px;
    border-radius: 3px;
    outline: none;
    border: 1px solid greenyellow;
}

.b a:hover {
    text-decoration: none;
    border-radius: 3px;
    outline: none;
    border: 1px solid greenyellow;
}

.saylani {
    padding-left: 35px;
    padding-top: 10px;
}

#home {
    color: black;
    font-size: 16px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    border-radius: 20px;
}

li {
    padding: 3px;
}

#z {
    padding: 1px;
}

#home:hover {
    background-color: #316dc3;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    text-decoration: none;
    transition: 0.25s ease-in;
}

#first {
    background-color: #316dc3;
    color: white;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#logo {
    width: 200px;
    height: 60px;
    float: left;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    font-size: smaller;
    display: list-item;
}

.dropdown-content a:hover {
    background-color: #316fc7;
    color: white;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    text-align: center;
}

/* nav ul li{
    display: inline-block;
    padding-top: 10px;
    
    
}
nav{
    padding-bottom: 18px;
}

nav ul {
    float: right;
    margin-right: 30px;
    text-decoration: none;
    padding-top: 18px;
}
nav ul li a{
    text-decoration: none;
    border: none;
    padding: 10px;
    border-radius: 25px;
    color: black;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 400;
    text-transform: uppercase ;
    
    
}
nav ul li a:hover{
    background-color: #316fc7;
    color: white;
    text-decoration: none;
}
.active{
    color: white;
    background-color: #316fc7;
}
.nav{
    display: inline-block;
} */

.news {
    height: 28px;
    background-color: #316fc7;
    margin: 12px;
    margin-left: 60px;
}

.newsp {
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding-top: 2px;
    color: white;
}

.newslink {
    text-decoration: none;
}

.newscolor {
    color: rgb(77, 236, 77);
}

.main {
    background-color: #eeeeee;
}

.p {
    text-align: center;
    padding-top: 20px;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    position: relative;
    top: 10px;
}

.intro {
    color: #316dc3;
}

.duction {
    color: #427900;
}

.img {
    text-align: center;
    margin: 0;
    padding-top: 15px;
}

.paregraph1 {
    /* border: 2px solid red; */
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    padding-bottom: 120px;
    line-height: 25px;
    font-size: 14px;
    text-align: justify;
    color: #777777;
}

.margin {
    margin-bottom: 20px;
}

.b3, .b4, .b5, .b6 {
    /* border: 2px solid red; */
}

.mission {
    text-align: center;
    background-color: royalblue;
    padding-top: 50px;
    padding-bottom: 100px;
    font-family: 'Merriweather', serif;
}

.fas, .fab {
    padding-bottom: 8px;
    padding-top: 30px;
}

.heading {
    font-size: 50px;
    color: white;
    line-height: 100px;
    font-family: 'Merriweather', serif;
}

/* h6{
        position: relative;
        bottom: 25px;
        color: white;
        line-height: 25px;
        font-weight: bolder;
        
    } */

.mission-font {
    color: white;
    line-height: 25px;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    bottom: 40px;
}

.green {
    color: greenyellow;
    font-size: 18px;
}

.what {
    background-color: #eeeeee;
    text-align: center;
    padding: 25px;
    text-transform: uppercase;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
    /* border: 2px solid red; */
}

.shehri {
    padding-top: 50px;
    padding-bottom: 25px;
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 3px 3px 20px #9c9999;
    color: #316fc7;
    text-transform: uppercase;
    font-weight: bold;
}

.padding {
    padding-left: 2px;
}

.shehri img {
    position: relative;
    bottom: 25px;
}
.whatwearedoing p{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.success{
    color: #427900;
}
.primary{
    color: #316fc7;
}
.si{
    padding-bottom: 30px;
}
.fheading,.sheading{
    
    padding-bottom: 70px;
    
}
.fheading p,.sheading p{
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 15px;
    padding-top: 40px;
    color: #316fc7;
    
}
.fibox,.sebox,.thbox,.fobox{
    
    padding: 5px;
    
   
}
.fibox .pa,.sebox .pa,.thbox .pa,.fobox .pa{

    border: 1px solid rgb(226, 220, 220);
    padding: 20px;
    padding-left: 20px;
    margin: 5px;
    background-color: whitesmoke;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
    
}
.fibox .pa img,.sebox .pa img,.thbox .pa img,.fobox .pa img {
    margin-right: 25px;
    margin-bottom: 6px;
}
.newsheadline p{
    font-size: 13px;
    line-height: 25px;
   padding-left: 6px;
    padding-right: 50px;
    margin: 0;
    color: #777777;
    font-family: sans-serif;
    font-weight: bold;
}
marquee{
    height: 220px;
}

.fheading{
    padding: 0;
}
.siximg img{
    margin-left: 0px;
    margin-bottom: 5px;
    width: 240px;
    
}
.imagemain{
    text-align: center;
    padding-bottom: 100px;
    text-transform: uppercase;
}
.headoffice{
    /* border: 2px solid red; */
    padding-top: 80px;
    

}
.headoffice p{
    padding-left: 20px;
    color: whitesmoke;
}
.useful{
    display: inline-block;
    /* border: 2px solid rebeccapurple; */
}
.one ,.two {
    display: inline-block;
   margin-left: 15px;
    /* border: 1px solid red; */
    padding-bottom: 0px;
    padding-top: 30px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
    color: white;
    
   
}
.two{
    /* padding-bottom: 80px; */
   
}
.two p{
   
   position: relative;
   top: 8px;
    /* border: 2px solid red; */
    color: white;
    
    
    
}
.socialicon{
    /* border: 2px solid red; */
    padding: 0;
    margin: 0;
}
.one p{
    /* border: 2px solid red; */

}
.lineimg{
    margin-bottom: 0px;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 25px;
}

.paddingleft p{
    font-size: 14px ;
    padding-left: 20px;
    line-height: 30px;
    padding-bottom: 0px;
    
}
.far,.fas{
    margin: 0px;
    color: green;
    font-size: 13px;
    padding: 5px;
   }
.height{
    padding-bottom: 80px;
}
.copyright p{
    margin: 0;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 12px;
    font-weight: 600;
    color: lavender;
}
.copyright{
    background-color: #316fc7;
    padding-bottom: 5px;
}